@import './../utils/scss/variables.scss';

.wrapper {
  max-width: 900px;
  margin: 1rem auto;
}

.orderbook {
  &__title {
    position: relative;
    border-bottom: 2px solid $border-color;
    padding: .5rem 0;

    .name {
      position: absolute;
      left: 0;
      width: auto;
      font-weight: bold;
    }

    .spread {
      text-align: center;
      width: 100%;
      color: $muted-text-color;
    }
  }

  &__body {
    display: flex;
    width: 100%;
    text-align: center;
  }
}

