@import './../utils/scss/variables.scss';

.wrapper {
  max-width: 900px;
  margin: 1rem auto;
}

.orderbook {
  .title {
    position: relative;
    border-bottom: 2px solid $border-color;
    padding: .5rem 0;

    .name {
      position: absolute;
      left: 0;
      width: auto;
      font-weight: bold;
    }

    .spread {
      text-align: center;
      width: 100%;
      color: $muted-text-color;
    }
  }

  .body {
    display: flex;
    width: 100%;
    text-align: center;
  }

  .buySide, .sellSide {
    width: 50%;
  }
}

.header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  text-transform: uppercase;
  color: $muted-text-color;
  border-bottom: 1px solid $border-color;
  padding: .25rem 0;
}
